<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration
	xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Console output -->
	<appender name="CONSOLE"
		class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				   value="%-5p %d{yyyy-MM-dd HH:mm:ss,SSS} %t %m (%F:%L) %n" />
		</layout>
	</appender>

	<appender name="Daily_File"
		class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="/Users/dxm/doc/userservice.log" />
		<param name="datePattern" value="'.'yyyy-MM-dd" />
		<param name="append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				   value="%-5p %d{yyyy-MM-dd HH:mm:ss,SSS} %t %m (%F:%L) %n" />
		</layout>
	</appender>

	<category name="java.sql" additivity="false">
		<priority value="debug" />
		<appender-ref ref="CONSOLE" />
	</category>

	<category name="org.apache.ibatis.cache" additivity="false">
		<priority value="debug" />
		<appender-ref ref="CONSOLE" />
	</category>

	<!-- <category name="org.springframework" additivity="false"> -->
	<!-- <priority value="debug" /> -->
	<!-- <appender-ref ref="CONSOLE" /> -->
	<!-- </category> -->

	<!-- <category name="org.springframework.web" additivity="false"> -->
	<!-- <priority value="debug" /> -->
	<!-- <appender-ref ref="CONSOLE" /> -->
	<!-- </category> -->

	<!-- <category name="org.mybatis" additivity="false"> -->
	<!-- <priority value="debug" /> -->
	<!-- <appender-ref ref="CONSOLE" /> -->
	<!-- </category> -->

	<!-- <category name="org.springframework.aop" additivity="false"> -->
	<!-- <priority value="debug" /> -->
	<!-- <appender-ref ref="CONSOLE" /> -->
	<!-- <priority value="info" /> -->
	<!-- </category> -->

	<category name="com">
		<!-- <priority value="error" /> -->
		<priority value="Info" />
	</category>

	<!--指定logger的设置，additivity指示是否遵循缺省的继承机制 -->
	<logger name="test.log4j.test8.UseLog4j_" additivity="false">
		<level value="INFO" />
		<appender-ref ref="Daily_File" />
	</logger>
	<root>
		<priority value="error" />
		<!-- <priority value ="debug" /> -->
		<appender-ref ref="Daily_File" />
		<!-- <appender-ref ref="FILE" /> -->
		<appender-ref ref="CONSOLE" />
		<!-- <appender-ref ref="MAIL" /> -->
	</root>

</log4j:configuration>