<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itmuch.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.itmuch.model.User">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="balance" jdbcType="DOUBLE" property="balance" />
    <result column="birthday" jdbcType="DATE" property="birthday" />
    <result column="descript" jdbcType="VARCHAR" property="descript" />
  </resultMap>
  
  <select id="getRole"  parameterType="java.lang.String" resultType="com.itmuch.dto.UserRoleDTO">
  		SELECT su.id UID, su.username username, role.id RoleID, role.rolename Rolename 
		from sys_user su 
		LEFT JOIN sys_user_role sur on su.id = sur.user_id 
		LEFT JOIN sys_role role on role.id = sur.role_id
		where su.id = #{id}
  </select>	
  
  <select id="getUserByUsername" parameterType="java.lang.String" resultType="com.itmuch.model.User">
  		SELECT * from sys_user where username = #{username}
  </select>
</mapper>